<!DOCTYPE html>
<html>
<head> 
    <title>Show.ejs</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/modules.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
</head>

<body>

    
    
    <h1>This is a test of show.ejs</h1>
    <br>
    <form method="post" action="/searches">
        <div>
            <input name="title" placeholder="Book Title"></input>
        </div>
        <div>
            <input name="author" placeholder="Book Author"></input>
        </div>
        <div><button type="submit">Search</button>
    
        </div>
    </form>
    <h2>Search Query: 
    </h2>
    <div>Title: <%= searchTitle %> </div>
    <div>Author: <%= searchAuthor %> </div>


<h2>Results:</h2>
<% books.forEach( book => { %>
    -----------------------------------------------------
    <ul> 
        <p><img src="<%= book.image;  %>"></p>
        <h3>Title: <%= book.title;  %> </h3>
        <p>Author: <%= book.author;  %> </p>
        <p>Description: <%= book.description;  %> </p>
        <h4>ISBN NUMBER A</h4>
        <p>TYPE: <%= book.isbn1.type;  %></p>
        <p><%= book.isbn1.identifier;  %> </p>
        <a href="<%= book.preview %>"> Preview the Book Online! </a>
    </ul>
    <br>
<% }); %>


 

</div>

</body>
</html>