<!DOCTYPE html>
<html>
    <head> 
      <%- include('../layout/head')%>
    </head>

<body>
      <%- include('../layout/header')%>
         <div>
           <button type="submit" onClick="location.href='/searches/new'">Find a book</button>
         </div>
    </div>
    <p>Book Count: <%= bookCount  %></p>
    <form class="flex-grid" method="post" action="/searches">
      <div>
        <% SQLbooks.forEach( book => { %>
          <ul> 
              <section class="section1"><img src="<%= book.image_url;  %>"></section>
              <section class="section2"></section><h3>Title: <%= book.title;  %> </h3></section>
              <section class="section3">Author: <%= book.author;  %></section>
              <section class="section4">Description: <%= book.description;  %></section>
              <h4>ISBN NUMBER</h4>
              <section class="section5">Isbn: <%= book.isbn;  %></section>
          </ul>
          <br>
      <% }); %>



      </div>
  </form>

<footer></footer>
  </body>
</html>

